body {
    text-align: center;
    margin: 15%;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #000017;
}

h1 {
    color: white;
    font-size: 4em;
}

a {
    text-decoration: none;
    color: orange;
    font-size: 3em;
}
