body {
    margin: 8%;
    font-family: sans-serif;
    background-color: #272822;
    color: white;
}

div.content {
    margin: 20px auto 0px auto;
    max-width: 650px;
    line-height: 1.2;
}

a {
    text-decoration: none;
}

a:link {
    color: #e6db74;
}

a:visited {
    color: #fd971f;
}

.container {
    display: flex;
    align-content: space-between;
    flex-direction: column;
}

pre {
    display: inline;
}
