* {
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
    height: 100vh;
}

body {
    color: white;
    background-color: #272822;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
