/*
    This file is part of slondr.github.io.
    slondr.github.io is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Foobar is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with slondr.github.io.  If not, see <https://www.gnu.org/licenses/>.
*/

body {
    text-align: center;
    margin: 15%;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #383c4a;
}

h1 {
    color: #7c818c;
    font-size: 4em;
}

a {
    text-decoration: none;
    color: #5294e2;
    font-size: 3em;
}
