%animate
  animation-duration: 1s
  transition-timing-function: ease-in
  animation-fill-mode: both

body
  font-size: 1.3em
  max-width: 80ch
  background-color: #272822
  color: white
  margin: auto
  line-height: 1.2

header
  width: 100%

nav
  @extend %animate
  text-align: center
  margin: 10px
  word-spacing: 5px
  animation-name: fadeInDown

ul, table
  line-height: 1.7

a
  text-decoration: none
  &:link
    color: #e6db74
  &:visited
    color: #fd971f

main
  display: flex
  align-content: space-between
  flex-direction: column

pre
  display: inline

li p
  margin: 1px

ul
  list-style-type: lower-greek

/* Fade Animations

/** Basic styles for an animated element

footer
  @extend %animate
  animation-name: fadeInUp

/** An element that fades in and slides from the right

div.container
  animation-name: fadeInRight

@keyframes fadeIn
  0%
    opacity: 0

  100%
    opacity: 1


@keyframes fadeInRight
  0%
    opacity: 0
    transform: translate3d(100%, 0, 0)

  100%
    opacity: 1
    transform: none


@keyframes fadeInDown
  0%
    opacity: 0
    transform: translate3d(0, -100%, 0)

  100%
    opacity: 1
    transform: none


@keyframes fadeInUp
  0%
    opacity: 0
    transform: translate3d(0, 100%, 0)

  100%
    opacity: 1
    transform: none


/* End Fade Animations
