<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Eric S. Londres</title>
    <link rel="stylesheet" type="text/css" href="/style.css"/>
  </head>
  <body>
    <div class="content">
      <div class="navbar">
      {% capture navbar %}{% include navbar.md %}{% endcapture %}
      {{ navbar | markdownify }}
      </div>
      <h2 class="title">{{ page.title }}</h2>
      {% if page.index != true %}
      <div class="inline-date"><i>{{ page.date | date: '%B %-d, %Y' }}</i></div>
      {% endif %}
      <div class="container">
	{{ content }}
      </div>
      <footer>
      {% capture footer %}{% include footer.md %}{% endcapture %}
      {{ footer | markdownify }}
      </footer>
    </div>
  </body>
</html>

