/*  This file is part of slondr.gitlab.io.

/*     slondr.gitlab.io is free software: you can redistribute it and/or modify
/*     it under the terms of the GNU Affero General Public License as published by
/*     the Free Software Foundation, either version 3 of the License, or
/*     (at your option) any later version.
/*
/*     slondr.gitlab.io is distributed in the hope that it will be useful,
/*     but WITHOUT ANY WARRANTY; without even the implied warranty of
/*     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/*     GNU Affero General Public License for more details.

/*     You should have received a copy of the GNU Affero General Public License
/*     along with slondr.gitlab.io.  If not, see <https://www.gnu.org/licenses/>.

*
  margin: 0
  padding: 0

html
  font-family: sans-serif

body
  color: white
  background-color: #272822
  margin: 10%

p
  margin: 4%
  line-height: 1.5

a
  text-decoration: none
  color: inherit
  opacity: 85%
  border-bottom: 0.1px solid #66d9ef
  transition: background 0.1s cubic-bezier(.33,.66,.66,1)
  transition: border-bottom 0.1s cubic-bezier(.33,.66,.66,1)
  &:hover
    background:#99020070
    border-bottom: 0.1px solid #990200

