doctype html
html
	head
		title Eric S. Londres
		link(rel='stylesheet' href='css/style.css')
	body
		header
			include includes/header.pug
		main
			h1 I'm Eric S. Londres.
			p
				| I'm an undergraduate student at Stevens Institute of Technology and 
				a(href='https://gitlab.com/slondr') a programmer by trade
				| . I also enjoy 
				a(href='https://www.youtube.com/channel/UC5o62RNnvTBYlFZhJVmV0XQ') videography 
				| in my spare time, as well as gaming.
			p
				| I currently hold the position of President at 
				a(href='https://www.sittv.org') SITTV
				| , 
				a(href='https://www.youtube.com/SITTV') Stevens's television station and film club
				| . I occasionally write and edit articles for 
				a(href='https://thestute.com/author/elondres/') The Stute
				| , Stevens's newspaper. I'm also a member of the Alpha Phi Omega national service fraternity's 
				a(href='https://apota.org') Theta Alpha chapter
				| , where I presently serve as Webmaster. 
				a(href='/games/') I've also dabbled in game development.
			p
				| If you'd like to get in contact with me, 
				a(href='mailto:ericlondres@outlook.com') shoot me an email 
				| or hit me up on 
				a(href='https://www.linkedin.com/in/eric-londres-153239171') LinkedIn
				| . I'm generally more responsive to the former. If you'd like to send me an encrypted email, 
				a(href='/pubkey') here is my public key
				| .
		footer
			include includes/footer.pug
		     
