doctype html
html
	head
		title Eric S. Londres
		link(rel='stylesheet' href='css/style.css')
	body
		header
			include includes/header.pug
		main
			p Hello, world!
		footer
			include includes/footer.pug
		     
